src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:google-contacts="http://www.mulesoft.org/schema/mule/google-contacts" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/google-contacts http://www.mulesoft.org/schema/mule/google-contacts/current/mule-google-contacts.xsd">

	<context:property-placeholder location="${GOOGLE_CONTACTS_CREDENTIALS}" />
	<google-contacts:config-with-oauth name="Google_Contacts" applicationName="${google.contacts.application.name}" 
							consumerKey="${google.contacts.consumer.key}" consumerSecret="${google.contacts.consumer.secret}">
        <google-contacts:oauth-callback-config domain="${google.contacts.domain}" localPort="${google.contacts.localPort}" 
        				remotePort="${google.contacts.remotePort}" path="${google.contacts.path}"/>
    </google-contacts:config-with-oauth>
	
	<flow name="insert-contact">
		<google-contacts:insert-contact config-ref="Google_Contacts" accessTokenId="accessTokenId" contact-ref="#[payload.contactRef]"  />
	</flow>
	
	<flow name="delete-contact">
		<google-contacts:delete-contact config-ref="Google_Contacts" accessTokenId="accessTokenId" entry-ref="#[payload.entryRef]" />
	</flow>
	
	<flow name="delete-contact-by-id">
		<google-contacts:delete-contact-by-id config-ref="Google_Contacts" contactId="#[payload.contactId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="batch-insert-contacts">
		<google-contacts:batch-contacts batchId="#[payload.batchId]" config-ref="Google_Contacts" accessTokenId="accessTokenId">
			<google-contacts:batch-insert config-ref="Google_Contacts" entries-ref="#[payload.entriesRef]" 
				operationId="#[payload.operationId]" accessTokenId="accessTokenId" />
		</google-contacts:batch-contacts>
	</flow>
	
	<flow name="batch-delete-contacts">
		<google-contacts:batch-contacts config-ref="Google_Contacts" batchId="#[payload.batchId]" accessTokenId="accessTokenId">
			<google-contacts:batch-delete config-ref="Google_Contacts" entries-ref="#[payload.entriesRef]" 
				operationId="#[payload.operationId]" accessTokenId="accessTokenId" />
		</google-contacts:batch-contacts>
	</flow>
	
	<flow name="batch-update-contacts">
		<google-contacts:batch-contacts config-ref="Google_Contacts" batchId="#[payload.batchId]" accessTokenId="accessTokenId">
			<google-contacts:batch-update config-ref="Google_Contacts" entries-ref="#[payload.entriesRef]" 
				operationId="#[payload.operationId]" accessTokenId="accessTokenId" />
		</google-contacts:batch-contacts>
	</flow>
	
	<flow name="create-group">
		<google-contacts:create-group config-ref="Google_Contacts" group-ref="#[payload.groupRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="delete-group">
		<google-contacts:delete-group config-ref="Google_Contacts" group-ref="#[payload.groupRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="delete-group-by-id">
		<google-contacts:delete-group-by-id config-ref="Google_Contacts" groupId="#[payload.groupId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-group-by-id">
		<google-contacts:get-group-by-id config-ref="Google_Contacts" id="#[payload.id]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-group-by-name">
		<google-contacts:get-group-by-name config-ref="Google_Contacts" groupName="#[payload.groupName]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="download-photo">
		<google-contacts:download-photo config-ref="Google_Contacts" contact-ref="#[payload.contactRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="update-contact-photo">
		<google-contacts:update-contact-photo config-ref="Google_Contacts" contactId="#[payload.contactId]" in-ref="#[payload.inRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="delete-contact-photo">
		<google-contacts:delete-contact-photo config-ref="Google_Contacts" contact-ref="#[payload.contactRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-contact-by-id">
		<google-contacts:get-contact-by-id config-ref="Google_Contacts" id="#[payload.id]" accessTokenId="accessTokenId" />
	</flow>
	
</mule>
